.container{
    padding: 40px;
    align-items: center;
    width: 70%;
    background-color: #f4f1f18d;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
}

.commentsLists{
    padding: 0px 80px;
}