.container{
        /* margin-left: 100px; */
        padding-left: 10px;
        display: flex;
        gap: 10px;
        margin-top: 24px;
        margin-bottom: 20px;
        border-left: 1px solid rgb(224, 224, 224);
    }
    
    .likeIconContainer{
        /* background-color: red;
        width: 30px; */
        cursor: pointer;
    }
    
    .dislikeIconContainer{
        cursor: pointer;
        transform: scale(1, -1);
    }
    
    .commentAdditionalInfoContiner{
        display: flex;
        align-items: center;
        gap: 10px;
}

.userNameContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.commentBodyText{
    font-size: 14px;
    font-weight: 500;
    color: #373737;
    margin: 7px 0px;
}

.secondaryText{
    color: #a4a3a3;
    font-size: 12px;
    cursor: pointer;
    font-weight: 550;
}

.secondaryText:hover{
    color: #646cff;
    cursor: pointer;
}

.editContainer{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}




.editableInput{
    width: 70%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.editableInput:focus{
    outline: none;
    border: 1px solid #646cff;
}

.editableInput::placeholder{
    color: #ccc;
}

.editButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 40px;
    background-color: #646cff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.editButton:hover{
    background-color: #535bf2;
}

.editButton:active{
    background-color: #646cff;
}